@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a6d72;
    color: #fff;
    padding: 1rem;
    border-bottom: 5px solid #fff;
}